html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*//////////////////////////////////////*/

:root {
	font-family: 'Merienda', cursive;
}

body {
	height: 100vh;
	display: flex;
}

.sidebar {
	padding: 225px 0;
	background-image: url(./img/ocean.jpg);
	background-position: center;
	flex: 1;
	max-width: 28%;
}

.titlebar {
	padding: 8px 0;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

.titlebar img {
	width: 6rem;
	stroke: white;	
}

.titlebar h1 {
	font-size: 3rem;
	color: white;
	text-align: center;
	font-weight: bolder;
}

.main {
	font-family: sans-serif;
	flex: 2;
	background-color: aliceblue;
	display: flex;
	flex-flow:column;
}

.main div {
	padding: 0 20% 0 50px;
	
}

.blockquote,
.user-details h2 {
	font-weight: bolder;
	word-spacing: 0.20em;
	font-size: 1.7rem;
}

.blockquote {
	height: 272px;
	align-self: start;
	margin-bottom: 65px;

	display: flex;
	flex-direction: column;
	justify-content: end;
	gap: 30px;
	max-width: 60%;
}

.user-details {
	background-color: white;
}

.user-details h2 {
	padding-top: 20px;
}

form {
	padding: 24px 0 32px 0;
	display: flex;
	flex-flow: row wrap;
	gap: 20px 80px;
}

form label {
	font-size: small;
	letter-spacing: 2px;
	word-spacing: 3px;
}

input:hover {
	border: 1px solid blue;
}


input:valid:focus {
	border: 1px solid rgb(0, 255, 0);
	box-shadow: 0px 0px 3px 1px rgba(0, 255, 0, 0.5)
}

input {
	appearance: none;
	display: block;
	width: 300px;
	height: 30px;
	margin-top: 3px;
	font-size: 1rem;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

input[type=email]:focus:invalid 

input:not(:focus):not(:placeholder-shown):invalid,
input:focus:invalid  {
	border: 1px solid rgba(255,0,0);
	box-shadow: 0px 0px 3px 1px rgba(155, 0, 0, 0.5);
}

label p,
span::before {
	content: "";
	font-size: small;
	letter-spacing:normal;
	word-spacing: normal;
	padding-top: 2px;
}

.password + span::before {
	content: "Must contain 8 characters, and at least 1 upper case "
	"letter, 1 lower case letter, and 1 number.";
	position:absolute
}

.pwd-mismatch + span::before {
	color: red;
	content: "* Passwords do not match";
}

.submission {
	margin-top: 30px;
}

button {
	margin-bottom: 30px;
	padding: 12px 45px;
	font-size: 1.1rem;
	font-weight: bold;
	background-color: rgb(32, 86, 79);
	color: white;
	outline: none;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

button:hover:enabled {
	box-shadow: 0px 0px 3px 1px rgba(155, 0, 0, 0.5);
	transition: box-shadow 0.1s ease;
}

button:active {
	box-shadow: inset 0px 0px 5px 1px #000000;
	outline: none;
	transition: box-shadow 5s ease;
}

.btn-disabled {
	cursor: not-allowed;
	background-color: rgb(163, 163, 163);
	color: rgb(212, 212, 212);
	box-shadow: none;
}

a {
	color: rgba(32,86,79,255);
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: rgba(32,86,79,255);
	font-weight: bold;
	text-decoration: underline;
}